.home-top-margin {
  margin-top: 50px;
}
.results {
  .th {
    font-weight: bold;
    font-size: 18px;
  }
  .heading {
    font-weight: bold;
    font-size: 12px;
  }
  tr {
    &.won {
      background-color: #82CAFF;
    }
    &.lost {
      background-color: #FFB682;
    }
    &.pending {
      background-color: #CBFF82;
    }
    &.ticket-header {
      font-weight: bold;
    }
  }
  .tickets {
    .result {
      font-weight: bold;
    }
    .detail {
      font-size: 11px;
      .heading {
        font-size: inherit;
        font-weight: bold;
      }
      .team {
        text-align: right;
      }
    }
  }
}