.home-top-margin {
  margin-top: 50px;
}
.results {
  .th {
    font-weight: bold;
    font-size: 18px;
  }
  .heading {
    font-weight: bold;
    font-size: 12px;
  }
  td {
    padding: 2px;
  }
  tr {
    &.won {
      background-color: #82CAFF;
    }
    &.lost {
      background-color: #FFB682;
    }
    &.pending {
      background-color: #CBFF82;
    }
    &.ticket-header {
      font-weight: bold;
    }
  }
  .result {
    font-weight: bold;
  }
  .detail {
    font-size: 11px;
    .heading {
      font-size: inherit;
      font-weight: bold;
    }
    .team {
      text-align: right;
    }
  }
}
.row {
  &.update-link {
    padding: 10px inherit;
  }
}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.hide {
  display: none;
}