.home-top-margin {
  margin-top: 50px; }

.results .th {
  font-weight: bold;
  font-size: 18px; }
.results .heading {
  font-weight: bold;
  font-size: 12px; }
.results td {
  padding: 2px; }
.results tr.won {
  background-color: #82CAFF; }
.results tr.lost {
  background-color: #FFB682; }
.results tr.pending {
  background-color: #CBFF82; }
.results tr.ticket-header {
  font-weight: bold; }
.results .tickets .result {
  font-weight: bold; }
.results .tickets .detail {
  font-size: 11px; }
  .results .tickets .detail .heading {
    font-size: inherit;
    font-weight: bold; }
  .results .tickets .detail .team {
    text-align: right; }

.row.update-link {
  padding: 10px inherit; }

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }
