.home-top-margin {
  margin-top: 50px; }

.results .heading {
  font-weight: bold;
  font-size: 18px; }
.results .tickets:nth-child(even) {
  background-color: #00CC99; }
.results .tickets:nth-child(odd) {
  background-color: #00FF99; }
.results .tickets .result {
  font-weight: bold; }
.results .tickets .detail {
  font-size: 11px; }
  .results .tickets .detail .heading {
    font-size: inherit;
    font-weight: bold; }
  .results .tickets .detail .team {
    text-align: right; }
